name: Build Docker Images

on:
    push:
        # Publish `main` as Docker `latest` image.
        branches:
            - main

        # Publish `v1.2.3` tags as releases.
        tags:
            - '*'

env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"

jobs:
    publish_images:
        runs-on: ubuntu-20.04

        permissions:
            packages: write

        # see https://github.com/docker/build-push-action#git-context
        steps:
            -
                name: Checkout
                uses: actions/checkout@v6

            -
                name: Set up QEMU
                uses: docker/setup-qemu-action@v3

            -
                name: Login to GitHub Container Registry
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.ACCESS_TOKEN }}

            -
                name: Build images
                run: |
                    docker build . --tag ghcr.io/${{ github.repository_owner }}/monorepo-split:latest --build-arg commitHash=${{ github.sha }}
                    docker push ghcr.io/${{ github.repository_owner }}/monorepo-split:latest
