# see .github/workflows/build_docker_images.yaml
name: Pull Docker Image

on:
    push:
        # Publish `main` as Docker `latest` image.
        branches:
            - main

jobs:
    pull_docker_image:
        runs-on: ubuntu-latest
        permissions:
            packages: read

        steps:
            -
                name: 'Login to GitHub Container Registry'
                uses: docker/login-action@v3
                with:
                    registry: ghcr.io
                    username: ${{ github.actor }}
                    password: ${{ secrets.ACCESS_TOKEN }}
            -
                name: 'Pull Docker image'
                run: docker pull ghcr.io/${{ github.repository_owner }}/monorepo-split:latest
            -
                name: 'Run Docker image'
                run: docker run ghcr.io/${{ github.repository_owner }}/monorepo-split
